# Git
.git
.gitignore

# GitHub Actions
.github

# Python cache
__pycache__
*.py[cod]
*.pyo

# Logs and database 
*.log
*.db
*.db-journal

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# OS clutter
.DS_Store
Thumbs.db
